In [8]:
import pandas as pd

# Poverty table

In [9]:
# read the csv file in /census_data_by_tract

poverty_df = pd.read_csv("./census_data_by_tract/acs2021_5yr_B17001_14000US36047030600/acs2021_5yr_B17001_14000US36047030600.csv")

In [10]:
poverty_df

,geoid,name,B17001001,"B17001001, Error",B17001002,"B17001002, Error",B17001003,"B17001003, Error",B17001004,"B17001004, Error",...,B17001055,"B17001055, Error",B17001056,"B17001056, Error",B17001057,"B17001057, Error",B17001058,"B17001058, Error",B17001059,"B17001059, Error"
0,14000US36005000100,"Census Tract 1, Bronx, NY",0,18,0,18,0,18,0,18,...,0,18,0,18,0,18,0,18,0,18
1,14000US36005000200,"Census Tract 2, Bronx, NY",4453,563,1014,393,509,249,39,60,...,212,93,170,74,91,68,207,94,252,111
2,14000US36005000400,"Census Tract 4, Bronx, NY",6000,903,240,150,84,63,0,18,...,412,180,445,142,351,136,202,139,95,64
3,14000US36005001600,"Census Tract 16, Bronx, NY",5826,653,951,350,325,208,19,32,...,370,112,405,142,400,123,224,96,202,124
4,14000US36005001901,"Census Tract 19.01, Bronx, NY",2164,264,596,224,276,116,30,37,...,149,73,225,190,50,42,15,19,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,14000US36085030302,"Census Tract 303.02, Richmond, NY",6638,713,1235,493,651,265,52,48,...,450,200,360,166,352,146,223,81,133,91
2323,14000US36085031901,"Census Tract 319.01, Richmond, NY",3386,630,1229,482,518,308,0,13,...,316,128,42,33,152,128,73,71,18,23
2324,14000US36085031902,"Census Tract 319.02, Richmond, NY",5275,716,1235,531,449,211,0,18,...,308,79,348,118,334,225,91,64,29,33
2325,14000US36085032300,"Census Tract 323, Richmond, NY",1105,304,78,56,40,43,0,13,...,116,99,77,28,58,35,52,28,25,24
2326,14000US36085990100,"Census Tract 9901, Richmond, NY",0,13,0,13,0,13,0,13,...,0,13,0,13,0,13,0,13,0,13

In [11]:
# keep the first 4 columns

poverty_df = poverty_df.iloc[:, 0:4]

In [12]:
poverty_df

,geoid,name,B17001001,"B17001001, Error"
0,14000US36005000100,"Census Tract 1, Bronx, NY",0,18
1,14000US36005000200,"Census Tract 2, Bronx, NY",4453,563
2,14000US36005000400,"Census Tract 4, Bronx, NY",6000,903
3,14000US36005001600,"Census Tract 16, Bronx, NY",5826,653
4,14000US36005001901,"Census Tract 19.01, Bronx, NY",2164,264
...,...,...,...,...
2322,14000US36085030302,"Census Tract 303.02, Richmond, NY",6638,713
2323,14000US36085031901,"Census Tract 319.01, Richmond, NY",3386,630
2324,14000US36085031902,"Census Tract 319.02, Richmond, NY",5275,716
2325,14000US36085032300,"Census Tract 323, Richmond, NY",1105,304
2326,14000US36085990100,"Census Tract 9901, Richmond, NY",0,13

B17001001 is "Income in the past 12 months below poverty level:",

# Population Table

In [13]:
population_df = pd.read_csv("./census_data_by_tract/acs2021_5yr_B01003_14000US36047030600/acs2021_5yr_B01003_14000US36047030600.csv")

In [14]:
population_df

,geoid,name,B01003001,"B01003001, Error"
0,14000US36005000100,"Census Tract 1, Bronx, NY",6661,702
1,14000US36005000200,"Census Tract 2, Bronx, NY",4453,563
2,14000US36005000400,"Census Tract 4, Bronx, NY",6000,903
3,14000US36005001600,"Census Tract 16, Bronx, NY",6038,665
4,14000US36005001901,"Census Tract 19.01, Bronx, NY",2168,263
...,...,...,...,...
2323,14000US36085031901,"Census Tract 319.01, Richmond, NY",3422,635
2324,14000US36085031902,"Census Tract 319.02, Richmond, NY",5298,717
2325,14000US36085032300,"Census Tract 323, Richmond, NY",1105,304
2326,14000US36085990100,"Census Tract 9901, Richmond, NY",0,13
2327,16000US3651000,"New York, NY",8736047,0

# Race Table

In [15]:
race_df = pd.read_csv("./census_data_by_tract/acs2021_5yr_B02001_14000US36047030600/acs2021_5yr_B02001_14000US36047030600.csv")

In [16]:
race_df

,geoid,name,B02001001,"B02001001, Error",B02001002,"B02001002, Error",B02001003,"B02001003, Error",B02001004,"B02001004, Error",...,B02001006,"B02001006, Error",B02001007,"B02001007, Error",B02001008,"B02001008, Error",B02001009,"B02001009, Error",B02001010,"B02001010, Error"
0,14000US36005000100,"Census Tract 1, Bronx, NY",6661,702,2680,292,3272,473,39,33,...,0,18,263,163,230,110,117,81,113,62
1,14000US36005000200,"Census Tract 2, Bronx, NY",4453,563,1235,373,1262,512,0,13,...,0,13,1450,581,346,263,232,242,114,111
2,14000US36005000400,"Census Tract 4, Bronx, NY",6000,903,1809,454,1472,476,18,28,...,0,18,1781,930,743,452,670,448,73,60
3,14000US36005001600,"Census Tract 16, Bronx, NY",6038,665,996,267,2322,534,213,223,...,0,18,1936,494,506,304,453,297,53,52
4,14000US36005001901,"Census Tract 19.01, Bronx, NY",2168,263,664,205,868,248,27,43,...,0,13,512,229,97,69,74,65,23,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,14000US36085031901,"Census Tract 319.01, Richmond, NY",3422,635,695,336,1661,502,0,13,...,0,13,141,119,323,350,298,332,25,42
2324,14000US36085031902,"Census Tract 319.02, Richmond, NY",5298,717,1363,483,3045,658,44,51,...,0,18,372,290,247,176,128,139,119,104
2325,14000US36085032300,"Census Tract 323, Richmond, NY",1105,304,338,87,431,155,0,13,...,0,13,43,52,260,263,17,28,243,266
2326,14000US36085990100,"Census Tract 9901, Richmond, NY",0,13,0,13,0,13,0,13,...,0,13,0,13,0,13,0,13,0,13
2327,16000US3651000,"New York, NY",8736047,0,3474805,11387,2042560,7784,45784,3273,...,5600,1034,1301785,15020,621003,11215,360902,9302,260101,6915